# Copiar a .env y completar
DJANGO_SECRET_KEY=<colocar-clave-fuerte>
JWT_SIGNING_KEY=<otra-clave-fuerte>
DEBUG=0
ALLOWED_HOSTS=yourapp.onrender.com

DB_ENGINE=django.db.backends.postgresql
DB_NAME=<db>
DB_USER=<user>
DB_PASSWORD=<pass>
DB_HOST=<host>
DB_PORT=5432

DJANGO_SUPERUSER_USERNAME=
DJANGO_SUPERUSER_EMAIL=
DJANGO_SUPERUSER_PASSWORD=

PORT=8000

BONITA_URL=
BONITA_USER=
BONITA_PASS=
BONITA_PROCESS_ID=
BONITA_PROCESS_NAME=
BONITA_PROCESS_VERSION=